<!DOCTYPE html>
<html>

<head>
  <title>My App for Liam</title>
  <link rel="stylesheet" href="../app.css" type="text/css">
</head>

<body>
  <div class="header">
    <div class="imhold"><img class="logiIm" id="theLogo" alt="logo" src="/logo.png"></div>
    <div class="navhold">
      <div class="topnav"><a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/add">Add Product</a>
      <a href="/login">Log-In</a>
      <a href="/signup">Register</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Log-Out</a>
      </div>
    </div>
  </div>