  <% include ../partials/header %>

<div class="row">
  <h1>Welcome to the add products page  <br>
  <div class="grid-container">
        
            <form accept-charset="UTF-8" action="/add" method="post">    
                <div class="item">
                  <label for="name">Name</label>
                    <input name="name" type="text" placeholder="Enter name" />
                  
                  
                  <label for="price">Price</label>
                    <input name="price" type="text" placeholder="Enter Price" />
                    
                   
                   <label for="image">Image URL</label> 
                    <input name="image" type="text" placeholder="Enter Image URL" />
                    
                   
                   <label for="activity">Activity</label> 
                    <input name="activity" type="text" placeholder="Enter Activity" />
                    
                    <button class="button">Edit Product</button>
                    </div>
              </form>
      
         
         
    </div>
  </h1>
</div>


<label for="sport">Sport:</label>







<% include ../partials/footer %>